

.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px auto 10px auto;
  height: 48px;
  width: 100%;
}

.media {
  display: flex;
  align-items: center;
  user-select: none;
}

.music {
  display: flex;
  align-items: center;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Outfit";
  padding: 0;
  &:hover {
    height: 0;
    background: transparent;
    box-shadow: 0 0 25px 8px #54b420;
  }
}


.musicWave {
  width: 24px;
  height: 24px;
  color: #54b420;
  margin-right: 6px;
}

.spacer {
  display: block;
  margin: 0 12px;
  width: 1px;
  height: 19px;
  background: #493000;
}

.youtube {
  display: flex;
  align-items: center;
  &:hover {
    height: 0;
    background: transparent;
    box-shadow: 0 0 25px 8px #54b420;
  }
}

.youtubeIcon {
  width: 18px;
  height: 18px;
  color: #ffffff;
  margin-right: 7px;
}

.socialLinks {
  display: flex;
}

.socialLink {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  color: #ffffff;
  position: relative;

  &:hover {
    > .socialIcon {
      color: #0a0600;
    }

    > .socialIconHover {
      opacity: 1;
    }
  }
}

.socialIcon {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}

.socialIconHover {
  color: #54b420;
  position: absolute;
  pointer-events: none;
  z-index: -1;
  transition: 0.3s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.socialLink1 > .socialIconHover {
  transform: scale(2.6);
  top: -5%;
  left: -2%;
}

.socialLink2 > .socialIconHover {
  transform: scale(1.4);
  top: 5%;
}

.socialLink3 > .socialIconHover {
  transform: scale(1.7);
  left: -15%;
  top: 10%;
}
