
.root {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  max-height: 500px;
}

.section + .section {
  margin-top: 20px;
}

.title {
  color: #54b420;
  font-size: 14px;
  line-height: 24px;
  font-family: "Outfit";
  margin-bottom: 2px;
}

.value {
  font-family: "Road Rage";
  font-size: 50px;
  line-height: 54px;
  color: #ffffff;
}

.valueSmall {
  font-family: "Road Rage";
  font-size: 28px;
  line-height: 32px;
  color: #ffffff;
}

.cents {
  font-family: inherit;
  font-size: 30px;
  line-height: 34px;
  margin-right: 8px;
}
